/* Estilos do Pre-Loader */

.pre-loader-div{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 11;
    opacity: 1;
    animation: .8s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    animation-name: pre-loader-div;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes pre-loader-div{
    0%{
      opacity: 1;
    }
  
    100%{
      opacity: 0; 
      z-index: 0;
    }
  }
  
  .white-div{
    width: 100vw;
    height: 150vh;
    background-color: white;
  }
  
  #pre-loader-image{
    width: 30%;
  }

  @media(orientation: portrait){
    #pre-loader-image{
      width: 60%;
    }
  }


/* Estilos do Loader */

.loader-div{
    width: 100%;
    height: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 16px solid pink;
    border-top: 16px solid thistle;
    border-bottom: 16px solid thistle;
    border-radius: 50%;
    width: 0px;
    height: 20%;
    animation: loader 1s linear infinite;
    position: absolute;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @media(orientation: portrait){
    .loader {
      width: 0px;
      height: 10%;
    }
  }
  
  .loader-div-invisivel{
    display: none;
  }